In [1]:
import os
os.chdir("C:\\Users\\JAYNE\\Documents")

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("energydata_complete.csv")

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.shape

(19735, 29)

**From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?**

In [6]:
x = df["T2"]
x

0        19.200000
1        19.200000
2        19.200000
3        19.200000
4        19.200000
           ...
19730    25.890000
19731    25.754000
19732    25.628571
19733    25.414000
19734    25.264286
Name: T2, Length: 19735, dtype: float64

In [7]:
y = df["T6"]
y

0         7.026667
1         6.833333
2         6.560000
3         6.433333
4         6.366667
           ...
19730    24.796667
19731    24.196667
19732    23.626667
19733    22.433333
19734    21.026667
Name: T6, Length: 19735, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


x = df["T2"].values.reshape(-1, 1)
y = df["T6"].values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)

y_pred = linear_model.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print(f"The Root Mean Squared Error(RMSE): {rmse:.3f}")

The Root Mean Squared Error(RMSE): 3.612

**Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:**

**What is the Mean Absolute Error (in three decimal places) for the  training set?**

In [9]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

df.drop(columns=["date", "lights"], axis=1, inplace=True)
X = df.drop("Appliances", axis=1)  
y = df["Appliances"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LinearRegression()
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)

mae_train = mean_absolute_error(y_train, y_train_pred)
print(f"The Mean Absolute Error for the training set(MAE): {mae_train:.3f}")

The Mean Absolute Error for the training set(MAE): 53.742

**What is the Root Mean Squared Error (in three decimal places) for the training set?**

In [10]:
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(f"The Root Mean Squared Error (training set): {rmse_train:.3f}")

The Root Mean Squared Error (training set): 95.216

**What is the Mean Absolute Error (in three decimal places) for test set?**

In [11]:
y_test_pred = model.predict(X_test)
mae_test = mean_absolute_error(y_test, y_test_pred)
print(f"The Mean Absolute Error for the testing set(MAE): {mae_test:.3f}")

The Mean Absolute Error for the testing set(MAE): 53.641

**What is the Root Mean Squared Error (in three decimal places) for test set?**

In [12]:
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
print(f"The Root Mean Squared Error (test set): {rmse_test:.3f}")

The Root Mean Squared Error (test set): 93.637

**Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?**

In [13]:
from sklearn.linear_model import Ridge
ridge_model = Ridge()
ridge_model.fit(X_train, y_train)
y_test_pred_ridge = ridge_model.predict(X_test)
rmse_test_ridge = np.sqrt(mean_squared_error(y_test, y_test_pred_ridge))
print(f"RMSE on test set with Ridge regression: {rmse_test_ridge:.3f}")

RMSE on test set with Ridge regression: 93.709

**Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?**

In [14]:
from sklearn.linear_model import Lasso
lasso_model = Lasso()
lasso_model.fit(X_train, y_train)
lasso_feature_weights = lasso_model.coef_
non_zero_features = np.sum(lasso_feature_weights != 0)
print(f"Number of features with non-zero weights: {non_zero_features}")

Number of features with non-zero weights: 4

**What is the new RMSE with the Lasso Regression on the test set?**

In [15]:
y_test_pred_lasso = lasso_model.predict(X_test)

rmse_test_lasso = np.sqrt(mean_squared_error(y_test, y_test_pred_lasso))
print(f"The RMSE on test set with Lasso regression: {rmse_test_lasso:.3f}")

The RMSE on test set with Lasso regression: 99.424